/*! CSS Used from: https://harnishdesign.net/demo/html/koice/vendor/bootstrap/css/bootstrap.min.css */
*,
::after,
::before {
    box-sizing: border-box;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}
hr:not([size]) {
    height: 1px;
}
h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h4 {
    font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
strong {
    font-weight: bolder;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
a:hover {
    color: #0a58ca;
}
img {
    vertical-align: middle;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
tbody,
td,
tfoot,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
@media (min-width: 576px) {
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
    vertical-align: inherit;
}
.table > thead {
    vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
}
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn:hover {
    color: #212529;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}
.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}
.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:active {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}
.btn-light:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}
.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group > .btn {
    position: relative;
    flex: 1 1 auto;
}
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
    z-index: 1;
}
.btn-group > .btn:not(:first-child) {
    margin-left: -1px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > :not(.btn-check) + .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.shadow-none {
    box-shadow: none !important;
}
.border {
    border: 1px solid #dee2e6 !important;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
.align-items-center {
    align-items: center !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.p-0 {
    padding: 0 !important;
}
.text-end {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
}
@media (min-width: 576px) {
    .order-sm-0 {
        order: 0 !important;
    }
    .order-sm-1 {
        order: 1 !important;
    }
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .text-sm-start {
        text-align: left !important;
    }
    .text-sm-end {
        text-align: right !important;
    }
}
@media print {
    .d-print-none {
        display: none !important;
    }
}
/*! CSS Used from: https://harnishdesign.net/demo/html/koice/vendor/font-awesome/css/all.min.css */
.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-download:before {
    content: "\f019";
}
.fa-print:before {
    content: "\f02f";
}
.fa {
    font-family: "Font Awesome 5 Free";
}
.fa {
    font-weight: 900;
}
/*! CSS Used from: https://harnishdesign.net/demo/html/koice/css/stylesheet.css */
img {
    vertical-align: inherit;
}
a,
a:focus {
    color: #0071cc;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover,
a:active {
    color: #005da8;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:focus,
a:active,
.btn:active:focus,
.btn:focus {
    outline: none;
}
p {
    line-height: 1.9;
}
h4 {
    color: #0c2f54;
}
.table {
    color: #535b61;
}
.text-1 {
    font-size: 12px !important;
    font-size: 0.75rem !important;
}
.text-7 {
    font-size: 28px !important;
    font-size: 1.75rem !important;
}
hr {
    opacity: 0.15;
}
.card-header {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: inherit;
}
.table:not(.table-sm) > :not(caption) > * > * {
    padding: 0.75rem;
}
@media print {
    .table td {
        background-color: transparent !important;
    }
}
.invoice-container {
    margin: 15px auto;
    padding: 70px;
    max-width: 850px;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .invoice-container {
        padding: 35px 20px 70px 20px;
        margin-top: 0px;
        border: none;
        border-radius: 0px;
    }
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-regular-400.eot);
    src: url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),
        url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-regular-400.woff2) format("woff2"), url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-regular-400.woff) format("woff"),
        url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-regular-400.ttf) format("truetype"),
        url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-regular-400.svg#fontawesome) format("svg");
}
@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-solid-900.eot);
    src: url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),
        url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-solid-900.woff2) format("woff2"), url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-solid-900.woff) format("woff"),
        url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-solid-900.ttf) format("truetype"), url(https://harnishdesign.net/demo/html/koice/vendor/font-awesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}
